language: php

php:
  - 7.2
  - 7.3
  - 7.4
  - nightly

matrix:
    allow_failures:
        - php: nightly

before_script:
 - wget -c https://squizlabs.github.io/PHP_CodeSniffer/phpcs.phar
 - composer self-update
 - composer install --prefer-source

script:
  - mkdir -p build/logs
  - composer run-script cs
  - composer run-script test

after_script:
  - wget https://scrutinizer-ci.com/ocular.phar
  - php ocular.phar code-coverage:upload --format=php-clover build/logs/clover.xml
