<phpunit bootstrap="tests/bootstrap.php"
         backupGlobals="false"
         backupStaticAttributes="false"
         colors="true"
         verbose="false"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false"
         stopOnError="false">
    <logging>
        <log type="coverage-clover" target="./build/logs/clover.xml"/>
        <log type="coverage-html" target="./build/coverage/"/>
    </logging>
    <testsuites>
        <testsuite name="sirius/orm">
            <directory>./tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="MYSQL_CONNECTION" value="mysql:host=siriusorm_mysql;dbname=siriusorm"></env>
        <env name="MYSQL_USER" value="root"></env>
        <env name="MYSQL_PASS" value="sirius"></env>
        <env name="POSTGRES_CONNECTION" value="pgsql:host=siriusorm_postgres;dbname=siriusorm"></env>
        <env name="POSTGRES_USER" value="sirius"></env>
        <env name="POSTGRES_PASS" value="sirius"></env>
        <env name="SQLSERVER_CONNECTION" value="mysql:host=siriusorm_mysql;dbname=siriusorm"></env>
        <env name="SQLSERVER_PASS" value="SSpaSS__1"></env>
    </php>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <exclude>
                <directory suffix=".php">./src/Definition</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
